/*
MEDIA QUERY MANAGER
0  600px:       Phone               phone
600 - 900px:    Tablet portrait     tab-port
900 - 1200px:   Tablet Landscape    tab-land
1200 - 1800px:  Default             
1800px+:        XL                  desktopXL

Note that we use ems in media queries, not rems, because rems have unexpected issues when used in media queries

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500&display=swap");
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ac9992' fill-opacity='0.27'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: black;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

/* Universal Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2); }
  .quote-container__text {
    font-size: 4.5rem; }
  .quote-container__author {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 400;
    font-style: italic; }
  @media only screen and (max-width: 56.25em) {
    .quote-container {
      margin: auto 2rem; } }

.long-quote {
  font-size: 3.5rem !important; }

.fa-quote {
  font-size: 5rem;
  color: #333; }

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between; }
  .button-container__twitter:hover {
    color: #38a1f3; }

button {
  font-family: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  border-radius: 10px;
  color: #fff;
  background: #333;
  outline: none;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
  transition: all .2s; }
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.6rem rgba(121, 121, 121, 0.65);
    filter: brightness(110%); }
  button:active {
    transform: translateY(-1px);
    box-shadow: 0 0.4rem rgba(121, 121, 121, 0.65); }
  @media only screen and (max-width: 56.25em) {
    button {
      margin: auto 2rem;
      height: 4rem; } }
